.container {
  margin: 5rem;
}
.product {
  background-color: #f2fafc;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 25rem;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product img {
  width: 100%;
  height: 25rem;
  margin-bottom: 3rem;
}

#clear-cart {
  width: 8rem;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
#clear-cart:hover {
  background-color: rgb(147, 7, 7);
}

.btn {
  margin-top: 2rem;
  border: none;
  width: 8rem;
  background: rgb(49, 173, 222);
  padding: 1rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  background: rgb(2, 79, 109);
}
